TZ=UTC
PORT=3333
HOST=0.0.0.0
LOG_LEVEL=info
URL=surat.unsam.ac.id
APP_URL=`https://${URL}`
APP_KEY=Bq8uWV3We4GhoVkFZ2Ib-Xhc8rUrBCYe
NODE_ENV=development
SESSION_DRIVER=cookie
DB_HOST=127.0.0.1
DB_PORT=5432
DB_USER=smartsam
DB_PASSWORD=smartsam111
DB_DATABASE=smartsam

SSO_CLIENT_ID=smartsam
SSO_CLIENT_SECRET=IZ1NR6Jws0CS9FJYo6zVZVAjQSNQr5aC
SSO_CALLBACK_URL=`${APP_URL}/callback`

API_KEY=a2f0c98d51b56c1d881b5c09868ca6618dc5a87d6f23dfb4594a460671609f60