@layout.app()
@slot('main')
<main class="grow" role="content">
    <style>
        .disko {
            margin: 0;
            animation: disco-bg 3s infinite linear;
        }

        @keyframes disco-bg {
            0% {
                background-color: red;
            }

            20% {
                background-color: yellow;
            }

            40% {
                background-color: lime;
            }

            60% {
                background-color: cyan;
            }

            80% {
                background-color: magenta;
            }

            100% {
                background-color: red;
            }
        }
    </style>
    <!-- Toolbar -->
    <div class="pb-5">
        <!-- Container -->
        <div class="kt-container-fixed flex items-center justify-between flex-wrap gap-3">
            <div class="flex items-center flex-wrap gap-1 lg:gap-5">
                <h1 class="font-medium text-lg text-mono">
                    Surat Masuk
                </h1>
            </div>
            <div class="flex items-center flex-wrap gap-1.5 lg:gap-3.5">

            </div>
        </div>
        <!-- End of Container -->
    </div>
    <!-- End of Toolbar -->

    <!-- Container -->
    <div class="kt-container-fixed">
        <div class="grid grid-cols-1">
            @flashMessage('alert')
            <div class="mb-4">
                @!component('components/items/alert', {item: $message})
            </div>
            @end
            <div class="kt-card kt-card-grid">
                <div class="kt-card-header flex-wrap gap-2">
                    <h3 class="kt-card-title text-sm">
                        List Surat Masuk
                    </h3>
                    <div class="flex flex-wrap gap-2 lg:gap-5">
                        <div class="flex">
                            <label class="kt-input">
                                <i class="ki-filled ki-magnifier">
                                </i>
                                <input data-kt-datatable-search="#team_crew_table" placeholder="Search users"
                                    type="text" value="" />
                            </label>
                        </div>
                    </div>
                </div>
                <div class="kt-card-content">
                    <div data-kt-datatable="true" data-kt-datatable-state-save="false" id="team_crew_table">
                        <div class="kt-scrollable-x-auto">
                            <table class="kt-table table-auto kt-table-border" data-kt-datatable-table="true">
                                <thead>
                                    <tr>
                                        <th class="w-[60px] text-center">
                                            <span class="kt-table-col">
                                                <span class="kt-table-col-label">
                                                    No.
                                                </span>
                                                <span class="kt-table-col-sort">
                                                </span>
                                            </span>
                                        </th>
                                        <th>
                                            <span class="kt-table-col">
                                                <span class="kt-table-col-label">
                                                    Nomor Surat
                                                </span>
                                                <span class="kt-table-col-sort">
                                                </span>
                                            </span>
                                        </th>
                                        <th>
                                            <span class="kt-table-col">
                                                <span class="kt-table-col-label">
                                                    Jenis Surat
                                                </span>
                                                <span class="kt-table-col-sort">
                                                </span>
                                            </span>
                                        </th>
                                        <th>
                                            <span class="kt-table-col">
                                                <span class="kt-table-col-label">
                                                    Perihal
                                                </span>
                                                <span class="kt-table-col-sort">
                                                </span>
                                            </span>
                                        </th>
                                        <th>
                                            <span class="kt-table-col">
                                                <span class="kt-table-col-label">
                                                    Unit Pengirim
                                                </span>
                                                <span class="kt-table-col-sort">
                                                </span>
                                            </span>
                                        </th>
                                        <th>
                                            <span class="kt-table-col">
                                                <span class="kt-table-col-label">
                                                    Tujuan Surat
                                                </span>
                                                <span class="kt-table-col-sort">
                                                </span>
                                            </span>
                                        </th>
                                        <th>
                                            <span class="kt-table-col">
                                                <span class="kt-table-col-label">
                                                    Tanggal Surat
                                                </span>
                                                <span class="kt-table-col-sort">
                                                </span>
                                            </span>
                                        </th>
                                        <th>
                                            <span class="kt-table-col">
                                                <span class="kt-table-col-label">
                                                    Status Surat
                                                </span>
                                                <span class="kt-table-col-sort">
                                                </span>
                                            </span>
                                        </th>
                                        <th>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @each((item, index) in surats)
                                    <tr
                                        class="{{session.get('user.penugasans[0].id') == item.pejabat_penerima ? 'bg-blue-100' : ''}}">
                                        <td class="text-center">
                                            {{index + 1}}
                                        </td>
                                        <td class="text-foreground font-normal">
                                            {{item.nomor_surat}}
                                        </td>
                                        <td class="text-foreground font-normal">
                                            {{item.jenisSuratRel.jenis}}
                                        </td>
                                        <td class="text-foreground font-normal">
                                            {{item.perihal}}
                                        </td>
                                        <td>
                                            <p class="text-foreground font-normal">
                                                {{item.pengirimRel.pejabatRel.nama}}
                                            </p>
                                            <span class="text-xs">
                                                {{item.pengirimRel.jabatanRel.unitRel.nama}}
                                            </span>
                                        </td>
                                        <td>
                                            <p class="text-foreground font-normal">
                                                {{item.penerimaRel.pejabatRel.nama}}
                                            </p>
                                            <span class="text-xs">
                                                {{item.penerimaRel.jabatanRel.unitRel.nama}}
                                            </span>
                                        </td>
                                        <td class="text-foreground font-normal">
                                            {{date(item.tanggal_surat)}}
                                        </td>
                                        <td class="text-foreground font-normal">
                                            <div class="kt-table-cell-toolbar flex flex-row gap-3 justify-center">
                                                @if(item.status == 5)
                                                <span
                                                    class="kt-badge kt-badge-light kt-badge-success">{{item.statusSuratRel.status}}</span>
                                                @elseif(item.status == 6)
                                                <span
                                                    class="kt-badge kt-badge-light kt-badge-destructive">{{item.statusSuratRel.status}}</span>
                                                @else
                                                <span
                                                    class="kt-badge kt-badge-light kt-badge-primary">{{item.statusSuratRel.status}}</span>
                                                @end
                                            </div>
                                        </td>
                                        <td class="text-center">
                                            <div class="kt-table-cell-toolbar flex flex-row gap-3 justify-center">
                                                <a href="{{route('surat.surat_masuk.detail', {id: item.id})}}"
                                                    class="kt-btn kt-btn-mono">
                                                    <i class="ki-duotone ki-eye">
                                                    </i>
                                                    Detail
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                    @end
                                </tbody>
                            </table>
                        </div>
                        <div
                            class="kt-card-footer justify-center md:justify-between flex-col md:flex-row gap-5 text-secondary-foreground text-sm font-medium">
                            <div class="flex items-center gap-2 order-2 md:order-1">
                                Show
                                <select class="kt-select w-16" data-kt-datatable-size="true" data-kt-select=""
                                    name="perpage">
                                </select>
                                per page
                            </div>
                            <div class="flex items-center gap-4 order-1 md:order-2">
                                <span data-kt-datatable-info="true">
                                </span>
                                <div class="kt-datatable-pagination" data-kt-datatable-pagination="true">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End of Container -->

    <script>
        window.addEventListener("load", function () {
            // Basic
            flatpickr("#flatpickr-date", {
                monthSelectorType: "static"
            });
        });
    </script>
</main>
@endslot
@end