@layout.app()
@slot('main')
<main class="grow" role="content">
    <!-- Toolbar -->
    <div class="pb-5">
        <!-- Container -->
        <div class="kt-container-fixed flex items-center justify-between flex-wrap gap-3">
            <div class="flex items-center flex-wrap gap-1 lg:gap-5">
                <h1 class="font-medium text-lg text-mono">
                    Surat Masuk Detail
                </h1>
            </div>

        </div>
        <!-- End of Container -->
    </div>
    <!-- End of Toolbar -->

    <!-- Container -->
    <div class="kt-container-fixed">
        <div class="grid grid-cols-8 gap-4">
            {{-- Detail Surat --}}
            <div class="col-span-6 flex flex-col gap-4">
                <div class="kt-card">
                    <div class="kt-card-header">
                        <h3 class="kt-card-title">
                            Detail Surat
                        </h3>
                        <div class="flex items-center flex-wrap gap-1.5 lg:gap-3.5">
                            @let(user = session.get('user'))
                            @if(surat.pejabat_penerima == user.penugasans[0].id)
                            <button class="kt-btn" data-kt-modal-toggle="#modal">
                                <i class="ki-filled ki-paper-plane"></i>
                                Tindakan Surat
                            </button>
                            @endif
                            <div class="kt-modal" data-kt-modal="true" id="modal">
                                <div class="kt-modal-content pt-7.5 my-[3%] kt-container-fixed px-5 overflow-hidden"
                                    style="max-width: 900px;">
                                    <div class="kt-modal-header">
                                        <h3 class="kt-modal-title">Kirimkan Surat</h3>
                                        <button type="button" class="kt-modal-close" aria-label="Close modal"
                                            data-kt-modal-dismiss="#modal">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                                stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-x"
                                                aria-hidden="true">
                                                <path d="M18 6 6 18"></path>
                                                <path d="m6 6 12 12"></path>
                                            </svg>
                                        </button>
                                    </div>
                                    <form action="{{route('surat.surat_masuk.put', {id: surat.id})}}" method="post">
                                        {{ csrfField() }}
                                        <div class="kt-modal-body grid gap-y-3">

                                            <div class="flex flex-row gap-2 mb-3">
                                                <label for="" class="kt-label w-[100px]">Tindakan</label>
                                                <select class="kt-select" data-kt-select="true" name="status"
                                                    id="status" required>
                                                    @if(status == 2)
                                                    <option value="3">Lanjutkan Ke Pimpinan</option>
                                                    @elseif(status == 9)
                                                    <option value="5">Selesai</option>
                                                    @else
                                                    <option value="7">Disposisi Ke Unit Lain</option>
                                                    <option value="8">Surat Ditindaklanjuti Oleh Anggota</option>
                                                    @endif
                                                    <option value="6">Ditolak</option>
                                                </select>
                                            </div>
                                            <div class="flex flex-row gap-2 mb-3 hidden" id="anggota">
                                                <label for="" class="kt-label w-[100px]">Anggota Unit</label>
                                                <select class="kt-select" data-kt-select="true"
                                                    data-kt-select-enable-search="true" name="anggota" id="anggota"
                                                    data-kt-select-search-placeholder="Search..."
                                                    data-kt-select-placeholder="Pilih Anggota untuk tindak lanjutkan"
                                                    data-kt-select-config='{"optionsClass": "kt-scrollable overflow-auto max-h-[250px]"}'
                                                    required>
                                                    <option value="0">Pilih Anggota</option>
                                                    @each(i in anggotas)
                                                    @each(item in i.penugasans)
                                                    <option value="{{item.id}}">{{item.pejabatRel.nama}}</option>
                                                    @end
                                                    @end
                                                </select>
                                            </div>
                                            <div class="hidden" id="disposisi">
                                                <div class="flex flex-row gap-2 mb-3">
                                                    <label for="" class="kt-label w-[100px]">Unit Penerima</label>
                                                    <select class="kt-select" data-kt-select="true"
                                                        data-kt-select-enable-search="true" name="unit" id="unit"
                                                        data-kt-select-search-placeholder="Search..."
                                                        data-kt-select-placeholder="Pilih Unit Penerima"
                                                        data-kt-select-config='{"optionsClass": "kt-scrollable overflow-auto max-h-[250px]"}'
                                                        required>
                                                        @each(item in units)
                                                        <option value="{{item.id}}">{{item.jenis}} | {{item.nama}}
                                                        </option>
                                                        @end
                                                    </select>
                                                </div>
                                                <div class="kt-form-item flex flex-row gap-2 mb-3">
                                                    <label for="" class="kt-label w-[85px]">Kirim ke Pimpinan</label>
                                                    <div class="">
                                                        <input class="kt-switch kt-switch-lg" type="checkbox"
                                                            id="switch" name="pimpinan" />
                                                        <div class="kt-form-description kt-text-gray-300 mt-1">*Surat
                                                            akan
                                                            dikirimkan langsung ke
                                                            pimpinan unit tanpa melalui admin surat</div>
                                                    </div>
                                                </div>
                                            </div>
                                            @let(opsi = [
                                            'Tindak Lanjuti',
                                            'Proses sesuai kententuan / peraturan yang berlaku',
                                            'Koordinasi / konfirmasi dengan ybs / unit kerja terkait',
                                            'Pelajari / telaah dan berikan saran / masukan',
                                            'Wakil / hadir / terima / laporkan hasilnya',
                                            'Agendakan / persiapkan / koordinasikan',
                                            'Dijawab',
                                            'Untuk diketahui',
                                            'untuk dimaklumi',
                                            'Teruskan',
                                            'Arsipkan',
                                            'Pesan Lainnya'
                                            ])
                                            <div class="flex flex-row gap-2 mb-3 hidden" id="bagianCatatan">
                                                <label for="" class="kt-label w-[100px] align-top">Pesan</label>
                                                <div class="w-full">
                                                    <select class="kt-select" data-kt-select="true"
                                                        data-kt-select-enable-search="true" name="catatan" id="catatan"
                                                        data-kt-select-search-placeholder="Search..."
                                                        data-kt-select-placeholder="Pilih Pesan Untuk Tindakan Surat"
                                                        data-kt-select-config='{"optionsClass": "kt-scrollable overflow-auto max-h-[250px]"}'>
                                                        @each(item in opsi)
                                                        <option value="{{item}}">{{item}}</option>
                                                        @end
                                                    </select>
                                                    <textarea class="kt-textarea mt-2 hidden"
                                                        placeholder="Tambahkan pesan untuk penerima" rows="3"
                                                        name="pesan" id="pesan"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="kt-modal-footer">
                                            <div></div>
                                            <div class="flex gap-4">
                                                <button type="button" class="kt-btn kt-btn-secondary"
                                                    data-kt-modal-dismiss="#modal">
                                                    Cancel</button>
                                                <button type="submit" class="kt-btn">Submit</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="kt-card-content mb-4">
                        <div class="flex flex-row gap-2">
                            <div class="min-w-[350px] flex items-center justify-center">
                                <a href="{{appUrl(`tmp/uploads/surat/${surat.id}/${surat.file}`)}}"
                                    class="flex flex-col items-center gap-2" target="_blank" rel="noopener noreferrer">
                                    <img src="assets/media/file-types/pdf.svg" class="min-w-[140px]">
                                    <span class="text-center text-lg font-semibold text-muted-foreground">
                                        {{truncateString(surat.file, 18)}}
                                    </span>
                                </a>
                            </div>
                            <div class="col-span-2 flex flex-col gap-4">
                            </div>
                            <div class="grid grid-cols-1 gap-3.5 gap-y-4 w-full">
                                <div class="flex flex-col gap-1.5 text-xl font-semibold">
                                    <div class="flex min-w-[120px]">
                                        <span class="text-muted-foreground">
                                            Nomor Surat :
                                        </span>
                                    </div>
                                    <span class="text-foreground">
                                        {{surat.nomor_surat}}
                                    </span>
                                </div>
                                <div class="flex flex-col gap-1.5">
                                    <span class="text-sm text-muted-foreground">
                                        Perihal
                                    </span>
                                    <span class="text-sm text-foreground">
                                        {{surat.perihal}}
                                    </span>
                                </div>
                                <div class="grid grid-cols-3 gap-1.5">
                                    <div class="flex flex-col gap-1.5">
                                        <span class="text-sm text-muted-foreground">
                                            Tanggal Surat
                                        </span>
                                        <span class="text-sm text-foreground">
                                            {{date(surat.tanggal_surat)}}
                                        </span>
                                    </div>
                                    <div class="flex flex-col gap-1.5">
                                        <span class="text-sm text-muted-foreground">
                                            Jenis Surat
                                        </span>
                                        <span class="text-sm text-foreground">
                                            {{surat.jenisSuratRel.jenis}}
                                        </span>
                                    </div>
                                    <div class="flex flex-col gap-1.5">
                                        <span class="text-sm text-muted-foreground">
                                            Status Saat Ini
                                        </span>
                                        <span class="text-sm text-foreground">
                                            <span class="kt-badge kt-badge-light kt-badge-{{tipeStatus(surat.status)}}">
                                                {{surat.statusSuratRel.status}}
                                            </span>

                                        </span>
                                    </div>
                                </div>
                                <div class="flex flex-col gap-1.5">
                                    <span class="text-sm text-muted-foreground">
                                        Dari
                                    </span>
                                    <div class="kt-card">
                                        <div class="kt-card-content py-2 px-4">
                                            <div class="flex flex-col gap-1.5">
                                                <span class="font-semibold text-primary">
                                                    {{surat.pengirimRel.pejabatRel.nama}}
                                                </span>
                                                <span class="text-xs">
                                                    Unit : {{surat.pengirimRel.jabatanRel.unitRel.nama}}
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {{-- Lampiran --}}
                <div class="kt-card">
                    <div class="kt-card-header">
                        <h3 class="kt-card-title">
                            Lampiran
                        </h3>
                    </div>
                    <div class="kt-card-content">
                        <div class="grid gap-2.5 lg:gap-5 w-full">
                            @let(tipe = {
                            "application": "pdf",
                            })
                            @if(surat.lampirans.length == 0)
                            <div class="w-full flex justify-center">
                                <div
                                    class="kt-badge kt-badge-lg kt-badge-light kt-badge-secondary min-w-[300px] flex justify-center">
                                    Tidak Ada
                                    Lampiran</div>
                            </div>
                            @endif
                            @each(item in surat.lampirans)
                            <div class="flex justify-between gap-3 w-full">
                                <div class="flex grow gap-2.5">
                                    <img src="assets/media/file-types/pdf.svg">
                                    <div class="flex flex-col">
                                        <span
                                            class="text-sm font-medium text-mono cursor-pointer hover:text-primary mb-px">
                                            {{item.source}}
                                        </span>
                                        <span class="text-xs text-secondary-foreground">
                                            Tipe File : {{tipe[item.tipe]}}
                                        </span>
                                    </div>
                                </div>
                                <button class="kt-btn btn-sm kt-btn-secondary">
                                    <a href="{{appUrl(`tmp/uploads/surat/${surat.id}/${item.source}`)}}" target="_blank"
                                        rel="noopener noreferrer">
                                        Lihat Lampiran
                                    </a>
                                </button>
                            </div>
                            @end
                        </div>
                    </div>
                </div>
            </div>

            {{-- Riwayat --}}
            <div class="col-span-2">
                <div class="kt-card">
                    <div class="kt-card-header">
                        <h3 class="kt-card-title">
                            Riwayat Surat
                        </h3>
                    </div>
                    <div class="kt-card-content pb-7">
                        <div class="flex flex-col gap-5">
                            @each(item in track_surats)
                            <div class="border-s-2 border-{{tipeStatus(item.status)}}">
                                <div class=" gap-3 ps-3 mb-0.5">
                                    <span class="kt-badge kt-badge-{{tipeStatus(item.status)}} mb-2">
                                        {{item.statusSuratRel.status}}
                                    </span>
                                    <div class="flex gap-1 items-center">
                                        <span class="text-xs text-secondary-foreground flex flex-row gap-1">
                                            {{date(new Date(item.createdAt))}} - {{time(new Date(item.createdAt))}} WIB
                                        </span>
                                    </div>
                                </div>
                                <p class="text-sm text-secondary-foreground leading-5.5 ps-3 mt-2">
                                    Catatan :
                                </p>
                                <p class="text-xs text-foreground leading-5.5 ps-3">
                                    {{item.catatan ? item.catatan : '-'}}
                                </p>
                            </div>
                            @end
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End of Container -->
</main>
<script>
    const status = document.getElementById("status");
    const disposisi = document.getElementById("disposisi");
    const anggota = document.getElementById("anggota");
    const catatan = document.getElementById("catatan");
    const bagianCatatan = document.getElementById("bagianCatatan");
    const pesan = document.getElementById("pesan");

    status.addEventListener("change", function () {
        switch (status.value) {
            case '5':
            case '6':
                bagianCatatan.classList.remove("hidden");
                break;
            case '7':
                bagianCatatan.classList.remove("hidden");
                anggota.classList.add("hidden");
                disposisi.classList.remove("hidden");
                break;
            case '8':
                bagianCatatan.classList.remove("hidden");
                disposisi.classList.add("hidden");
                anggota.classList.remove("hidden");
                break;
            default:
                disposisi.classList.add("hidden");
                bagianCatatan.classList.add("hidden");
                anggota.classList.add("hidden");
                break;
        }
        if (status.value == 7) {
            anggota.classList.add("hidden");
            disposisi.classList.remove("hidden");
        } else if (status.value == 8) {
            disposisi.classList.add("hidden");
            anggota.classList.remove("hidden");
        }
        else {
            disposisi.classList.add("hidden");
            anggota.classList.add("hidden");
        }
    })

    catatan.addEventListener("change", function () {
        if (catatan.value == 'Pesan Lainnya') {
            pesan.classList.remove("hidden");
        } else {
            pesan.classList.add("hidden");
        }
    })
</script>
@endslot
@end