@layout.app()
@slot('main')
<main class="grow" role="content">
       <!-- Toolbar -->
       <div class="pb-5">
              <!-- Container -->
              <div class="kt-container-fixed flex items-center justify-between flex-wrap gap-3">
                     <div class="flex items-center flex-wrap gap-1 lg:gap-5">
                            <h1 class="font-medium text-lg text-mono">
                                   Dashbboard
                            </h1>
                     </div>
                     <div class="flex items-center flex-wrap gap-1.5 lg:gap-3.5">

                     </div>
              </div>
              <!-- End of Container -->
       </div>
       <!-- End of Toolbar -->
       <!-- Container -->
       <div class="kt-container-fixed">
              <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-6 gap-4">
                     @let(type = ['blue-500', 'amber-500', 'yellow-500', 'sky-500', 'green-500', 'red-500'])
                     @each((item, index) in suratStatus)
                     <div class="kt-card p-5 border border-{{type[index]}}">
                            <div class="flex flex-wrap items-center justify-between gap-5">
                                   <div class="flex items-center gap-2.5">
                                          <div class="relative size-[20px] shrink-0">
                                                 <div
                                                        class="absolute leading-none start-2/4 top-2/4 -translate-y-2/4 -translate-x-2/4 rtl:translate-x-2/4">
                                                        <div
                                                               class="font-semibold text-2xl text-foreground text-{{type[index]}}">
                                                               {{item.jumlah}}
                                                        </div>
                                                 </div>
                                          </div>
                                          <div class="flex flex-col gap-0.5">
                                                 <span class="leading-none font-medium text-sm text-{{type[index]}}">
                                                        {{item.status}}
                                                 </span>
                                                 <span
                                                        class="text-xs text-secondary-foreground hover:text-primary hover:underline cursor-pointer">
                                                        Selengkapnya
                                                 </span>
                                          </div>
                                   </div>

                            </div>
                     </div>
                     @end
              </div>
              <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-6 gap-4 mt-4">
                     <div class="col-span-4">
                            <div class="kt-card">
                                   <div class="kt-card-header">
                                          <h3 class="kt-card-title">
                                                 Riwayat Surat
                                          </h3>
                                   </div>
                                   <div class="kt-card-table kt-scrollable-x-auto">
                                          <table class="kt-table table-fixed">
                                                 <thead>
                                                        <tr>
                                                               <th class="w-[60px] text-start">No. </th>
                                                               <th class="text-start w-52">
                                                                      Surat
                                                               </th>
                                                               <th class=" text-center">
                                                                      Status
                                                               </th>
                                                               <th class=" text-end">
                                                                      Waktu
                                                               </th>
                                                               <th class="w-16">
                                                               </th>
                                                        </tr>
                                                 </thead>
                                                 <tbody>
                                                        @each((item, index) in track_surats)
                                                        <tr>
                                                               <td class="text-start font-medium">
                                                                      <span
                                                                             class="text-sm font-medium text-mono">{{index+1}}</span>
                                                               </td>
                                                               <td class="text-start flex flex-col">
                                                                      <a class="text-sm font-medium text-mono hover:text-primary"
                                                                             href="{{route('surat.surat_keluar.detail', {id:item.suratRel.id})}}">
                                                                             {{truncateString(item.suratRel.nomor_surat)}}
                                                                      </a>
                                                                      <span class="text-xs text-secondary-foreground">
                                                                             {{item.suratRel.jenisSuratRel.jenis}}
                                                                      </span>
                                                               </td>
                                                               <td
                                                                      class="text-sm font-medium text-secondary-foreground text-center">
                                                                      <span
                                                                             class="kt-badge kt-badge-light kt-badge-{{tipeStatus(item.status)}} w-full">
                                                                             {{item.statusSuratRel.status}}
                                                                      </span>
                                                               </td>
                                                               <td class="text-sm text-secondary-foreground text-end">
                                                                      {{date(new Date(item.createdAt))}}, {{time(new
                                                                      Date(item.createdAt))}} WIB
                                                               </td>
                                                               <td class="text-start">
                                                                      <div class="kt-menu" data-kt-menu="true">
                                                                             <a href="{{route('surat.surat_keluar.detail', {id:item.suratRel.id})}}"
                                                                                    class="kt-menu-toggle kt-btn kt-btn-sm kt-btn-icon kt-btn-ghost">
                                                                                    <i class="ki-filled ki-eye text-lg">
                                                                                    </i>
                                                                             </a>
                                                                      </div>
                                                               </td>
                                                        </tr>
                                                        @end
                                                 </tbody>
                                          </table>
                                   </div>
                                   <div class="kt-card-footer justify-center">
                                          <a class="kt-link kt-link-underlined kt-link-dashed"
                                                 href="{{route('surat.surat_keluar.index')}}">
                                                 Lihat Surat Keluar
                                          </a>
                                   </div>
                            </div>
                     </div>
                     <div class="col-span-2">
                            <div class="kt-card">
                                   <div class="kt-card-header">
                                          <h3 class="kt-card-title">
                                                 Surat Belum Ditindaklanjuti
                                          </h3>
                                   </div>
                                   <div class="kt-card-table kt-scrollable-x-auto">
                                          <table class="kt-table table-fixed">
                                                 <thead>
                                                        <tr>
                                                               <th class="w-[60px] text-start">No. </th>
                                                               <th class="text-start w-[100px]">
                                                                      Surat
                                                               </th>
                                                               <th class="text-start ">
                                                                      Pengirim
                                                               </th>
                                                               <th class="w-16">
                                                               </th>
                                                        </tr>
                                                 </thead>
                                                 <tbody>
                                                        @each((item, index) in tindak)
                                                        <tr>
                                                               <td class="text-start font-medium">
                                                                      <span
                                                                             class="text-sm font-medium text-mono">{{index+1}}</span>
                                                               </td>
                                                               <td class="text-start flex flex-col">
                                                                      <a class="text-sm font-medium text-mono hover:text-primary"
                                                                             href="{{route('surat.surat_keluar.detail', {id:item.id})}}">
                                                                             {{truncateString(item.nomor_surat)}}
                                                                      </a>
                                                                      <span class="text-xs text-secondary-foreground">
                                                                             {{item.jenisSuratRel.jenis}}
                                                                      </span>
                                                               </td>
                                                               <td class="text-xs text-secondary-foreground ">
                                                                      <p class="text-foreground font-medium">
                                                                             {{item.penerimaRel.pejabatRel.nama}}
                                                                      </p>
                                                                      <span class="text-xs">
                                                                             {{item.penerimaRel.jabatanRel.unitRel.nama}}
                                                                      </span>
                                                               </td>
                                                               <td class="text-start">
                                                                      <div class="kt-menu" data-kt-menu="true">
                                                                             <a href="{{route('surat.surat_keluar.detail', {id:item.id})}}"
                                                                                    class="kt-menu-toggle kt-btn kt-btn-sm kt-btn-icon kt-btn-ghost">
                                                                                    <i class="ki-filled ki-eye text-lg">
                                                                                    </i>
                                                                             </a>
                                                                      </div>
                                                               </td>
                                                        </tr>
                                                        @end
                                                 </tbody>
                                          </table>
                                   </div>
                                   <div class="kt-card-footer justify-center">
                                          <a class="kt-link kt-link-underlined kt-link-dashed"
                                                 href="{{route('surat.surat_masuk.index')}}">
                                                 Lihat Surat Masuk
                                          </a>
                                   </div>
                            </div>
                     </div>
              </div>
       </div>
       <!-- End of Container -->
</main>
@endslot
@end