@layout.app()
@slot('main')
<main class="grow" role="content">
       <!-- Toolbar -->
       <div class="pb-5">
              <!-- Container -->
              <div class="kt-container-fixed flex items-center justify-between flex-wrap gap-3">
                     <div class="flex items-center flex-wrap gap-1 lg:gap-5">
                            <h1 class="font-medium text-lg text-mono">
                                   Dashbboard
                            </h1>
                     </div>
                     <div class="flex items-center flex-wrap gap-1.5 lg:gap-3.5">

                     </div>
              </div>
              <!-- End of Container -->
       </div>
       <!-- End of Toolbar -->
       <!-- Container -->
       <div class="kt-container-fixed">
              <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-6 gap-4">
                     @let(type = ['blue-500', 'amber-500', 'yellow-500', 'sky-500', 'green-500', 'red-500'])
                     @each((item, index) in suratStatus)
                     <div class="kt-card p-5 border border-{{type[index]}}">
                            <div class="flex flex-wrap items-center justify-between gap-5">
                                   <div class="flex items-center gap-2.5">
                                          <div class="relative size-[20px] shrink-0">
                                                 <div
                                                        class="absolute leading-none start-2/4 top-2/4 -translate-y-2/4 -translate-x-2/4 rtl:translate-x-2/4">
                                                        <div
                                                               class="font-semibold text-2xl text-foreground text-{{type[index]}}">
                                                               {{item.jumlah}}
                                                        </div>
                                                 </div>
                                          </div>
                                          <div class="flex flex-col gap-0.5">
                                                 <span class="leading-none font-medium text-sm text-{{type[index]}}">
                                                        {{item.status}}
                                                 </span>
                                                 <span
                                                        class="text-xs text-secondary-foreground hover:text-primary hover:underline cursor-pointer">
                                                        Selengkapnya
                                                 </span>
                                          </div>
                                   </div>

                            </div>
                     </div>
                     @end
              </div>
       </div>
       <!-- End of Container -->
</main>
@endslot
@end