@layout.app()
@slot('main')
<main class="grow" role="content">
       <!-- Toolbar -->
       <div class="pb-5">
              <!-- Container -->
              <div class="kt-container-fixed flex items-center justify-between flex-wrap gap-3">
                     <div class="flex items-center flex-wrap gap-1 lg:gap-5">
                            <h1 class="font-medium text-lg text-mono">
                                   List Roles {{role.nama}}
                            </h1>
                     </div>
                     {{-- Bisa dipake kalo ada mau add item --}}
                     <div class="flex items-center flex-wrap gap-1.5 lg:gap-3.5 hidden">
                            <button class="kt-btn" data-kt-modal-toggle="#modal">
                                   <i class="ki-filled ki-plus"></i>
                                   Tambah Role {{role.nama}}
                            </button>
                            <div class="kt-modal" data-kt-modal="true" id="modal">
                                   <div class="kt-modal-content pt-7.5 my-[3%] kt-container-fixed px-5 overflow-hidden"
                                          style="max-width: 600px">
                                          <div class="kt-modal-header">
                                                 <h3 class="kt-modal-title">Tambah Role</h3>
                                                 <button type="button" class="kt-modal-close" aria-label="Close modal"
                                                        data-kt-modal-dismiss="#modal">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                               viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                               stroke-width="2" stroke-linecap="round"
                                                               stroke-linejoin="round" class="lucide lucide-x"
                                                               aria-hidden="true">
                                                               <path d="M18 6 6 18"></path>
                                                               <path d="m6 6 12 12"></path>
                                                        </svg>
                                                 </button>
                                          </div>
                                          <form action="{{route('super_admin.data.role.post')}}" method="post">
                                                 {{ csrfField() }}
                                                 <div class="kt-modal-body grid gap-y-3">
                                                        <div class="flex flex-row gap-2 mb-3">
                                                               <label for="" class="kt-label w-[100px]">Nama
                                                                      Role</label>
                                                               <input type="text" class="kt-input" name="nama"
                                                                      placeholder="Input Role Baru" />
                                                        </div>

                                                 </div>
                                                 <div class="kt-modal-footer">
                                                        <div></div>
                                                        <div class="flex gap-4">
                                                               <button class="kt-btn kt-btn-secondary"
                                                                      data-kt-modal-dismiss="#modal">
                                                                      Cancel</button><button
                                                                      class="kt-btn">Submit</button>
                                                        </div>
                                                 </div>
                                          </form>
                                   </div>
                            </div>
                     </div>
              </div>
              <!-- End of Container -->
       </div>
       <!-- End of Toolbar -->

       <!-- Container -->
       <div class="kt-container-fixed">
              <div class="grid grid-cols-1">
                     <div class="kt-card kt-card-grid">
                            <div class="kt-card-header flex-wrap gap-2">
                                   <h3 class="kt-card-title text-sm">
                                          List Role Pada Aplikasi
                                   </h3>
                                   <div class="flex flex-wrap gap-2 lg:gap-5">
                                          <div class="flex">
                                                 <label class="kt-input">
                                                        <i class="ki-filled ki-magnifier">
                                                        </i>
                                                        <input data-kt-datatable-search="#team_crew_table"
                                                               placeholder="Search users" type="text" value="" />
                                                 </label>
                                          </div>
                                   </div>
                            </div>
                            <div class="kt-card-content">
                                   <div data-kt-datatable="true" data-kt-datatable-state-save="false"
                                          id="team_crew_table">
                                          <div class="kt-scrollable-x-auto">
                                                 <table class="kt-table table-auto kt-table-border"
                                                        data-kt-datatable-table="true">
                                                        <thead>
                                                               <tr>
                                                                      <th class="w-[40px] text-center">
                                                                             <span class="kt-table-col">
                                                                                    <span class="kt-table-col-label">
                                                                                           No.
                                                                                    </span>
                                                                                    <span class="kt-table-col-sort">
                                                                                    </span>
                                                                             </span>
                                                                      </th>
                                                                      <th class="">
                                                                             <span class="kt-table-col">
                                                                                    <span class="kt-table-col-label">
                                                                                           Nama Role
                                                                                    </span>
                                                                                    <span class="kt-table-col-sort">
                                                                                    </span>
                                                                             </span>
                                                                      </th>
                                                                      <th class="">
                                                                             <span class="kt-table-col">
                                                                                    <span class="kt-table-col-label">
                                                                                           Unit
                                                                                    </span>
                                                                                    <span class="kt-table-col-sort">
                                                                                    </span>
                                                                             </span>
                                                                      </th>
                                                                      <th class="">
                                                                             <span class="kt-table-col">
                                                                                    <span class="kt-table-col-label">
                                                                                           Pejabat Aktif Saat Ini
                                                                                    </span>
                                                                                    <span class="kt-table-col-sort">
                                                                                    </span>
                                                                             </span>
                                                                      </th>
                                                                      <th class="min-w-[70px] max-w-[100px]">
                                                                             <span
                                                                                    class="kt-table-col-label flex justify-center">
                                                                                    Action
                                                                             </span>
                                                                      </th>
                                                               </tr>
                                                        </thead>
                                                        <tbody>
                                                               @each((item, index) in jabatans)
                                                               <tr>
                                                                      <td class="text-center">
                                                                             {{index + 1}}
                                                                      </td>
                                                                      <td class="text-foreground font-normal">
                                                                             {{item.nama}}
                                                                      </td>
                                                                      <td class="text-foreground font-normal">
                                                                             {{item.unitRel.nama}}
                                                                      </td>
                                                                      <td class="text-foreground font-normal">
                                                                             @if(item.penugasans.length > 0)
                                                                             <p class="font-semibold">
                                                                                    {{item.penugasans[0].pejabatRel.nama}}
                                                                             </p>
                                                                             <span class="text-xs font-thin">
                                                                                    {{item.penugasans[0].pejabatRel.username}}
                                                                             </span>
                                                                             @else
                                                                             Tidak ada Pejabat Aktif
                                                                             @end
                                                                      </td>
                                                                      </td>

                                                                      <td class="text-center">
                                                                             <div
                                                                                    class="kt-table-cell-toolbar flex flex-row gap-3 justify-center">
                                                                                    <div>
                                                                                           <button class="kt-btn kt-btn-mono"
                                                                                                  data-kt-modal-toggle="#modal_{{index}}">
                                                                                                  <i
                                                                                                         class="ki-filled ki-pencil"></i>
                                                                                                  Edit
                                                                                           </button>
                                                                                    </div>
                                                                                    <div>
                                                                                           <form action="{{route('super_admin.data.role.delete', {id: item.id})}}"
                                                                                                  method="POST">
                                                                                                  {{ csrfField()}}
                                                                                                  <button type="submit"
                                                                                                         class="kt-btn kt-btn-destructive ">
                                                                                                         <i
                                                                                                                class="ki-filled ki-trash"></i>
                                                                                                         Hapus
                                                                                                  </button>
                                                                                           </form>
                                                                                    </div>
                                                                             </div>
                                                                      </td>
                                                               </tr>
                                                               <div class="kt-modal" data-kt-modal="true"
                                                                      id="modal_{{index}}">
                                                                      <div class="kt-modal-content pt-7.5 my-[3%] kt-container-fixed px-5 overflow-hidden"
                                                                             style="max-width: 600px">
                                                                             <div class="kt-modal-header">
                                                                                    <h3 class="kt-modal-title">
                                                                                           Role
                                                                                           {{item.nama}}
                                                                                    </h3>
                                                                                    <button type="button"
                                                                                           class="kt-modal-close"
                                                                                           aria-label="Close modal"
                                                                                           data-kt-modal-dismiss="#modal">
                                                                                           <svg xmlns="http://www.w3.org/2000/svg"
                                                                                                  width="24" height="24"
                                                                                                  viewBox="0 0 24 24"
                                                                                                  fill="none"
                                                                                                  stroke="currentColor"
                                                                                                  stroke-width="2"
                                                                                                  stroke-linecap="round"
                                                                                                  stroke-linejoin="round"
                                                                                                  class="lucide lucide-x"
                                                                                                  aria-hidden="true">
                                                                                                  <path d="M18 6 6 18">
                                                                                                  </path>
                                                                                                  <path d="m6 6 12 12">
                                                                                                  </path>
                                                                                           </svg>
                                                                                    </button>
                                                                             </div>
                                                                             <form action="{{route('super_admin.data.role.put', {id: item.id})}}"
                                                                                    method="post">
                                                                                    {{ csrfField()
                                                                                    }}
                                                                                    <div class="kt-modal-body">
                                                                                           <div
                                                                                                  class="flex flex-row gap-2 mb-3">
                                                                                                  <label for=""
                                                                                                         class="kt-label w-[100px]">Nama
                                                                                                         Role</label>
                                                                                                  <input type="text"
                                                                                                         class="kt-input"
                                                                                                         name="nama"
                                                                                                         placeholder="Input Role Baru"
                                                                                                         value="{{item.nama}}" />
                                                                                           </div>

                                                                                    </div>
                                                                                    <div class="kt-modal-footer">
                                                                                           <div>
                                                                                           </div>
                                                                                           <div class="flex gap-4">
                                                                                                  <button class="kt-btn kt-btn-secondary"
                                                                                                         data-kt-modal-dismiss="#modal">
                                                                                                         Cancel</button><button
                                                                                                         type="submit"
                                                                                                         class="kt-btn">Submit</button>
                                                                                           </div>
                                                                                    </div>
                                                                             </form>
                                                                      </div>
                                                               </div>
                                                               @end
                                                        </tbody>
                                                 </table>
                                          </div>
                                          <div
                                                 class="kt-card-footer justify-center md:justify-between flex-col md:flex-row gap-5 text-secondary-foreground text-sm font-medium">
                                                 <div class="flex items-center gap-2 order-2 md:order-1">
                                                        Show
                                                        <select class="kt-select w-16" data-kt-datatable-size="true"
                                                               data-kt-select="" name="perpage">
                                                        </select>
                                                        per page
                                                 </div>
                                                 <div class="flex items-center gap-4 order-1 md:order-2">
                                                        <span data-kt-datatable-info="true">
                                                        </span>
                                                        <div class="kt-datatable-pagination"
                                                               data-kt-datatable-pagination="true">
                                                        </div>
                                                 </div>
                                          </div>
                                   </div>
                            </div>
                     </div>
              </div>
       </div>
       <!-- End of Container -->

</main>
@endslot
@end