@layout.app()
@slot('main')
<main class="grow" role="content">
       <!-- Toolbar -->
       <div class="pb-5">
              <!-- Container -->
              <div class="kt-container-fixed flex items-center justify-between flex-wrap gap-3">
                     <div class="flex items-center flex-wrap gap-1 lg:gap-5">
                            <h1 class="font-medium text-lg text-mono">
                                   Users
                            </h1>
                     </div>
                     <div class="flex items-center flex-wrap gap-1.5 lg:gap-3.5">

                     </div>
              </div>
              <!-- End of Container -->
       </div>
       <!-- End of Toolbar -->
       <!-- Container -->
       <div class="kt-container-fixed">
              <div class="grid grid-cols-1">
                     <div class="kt-card kt-card-grid">
                            <div class="kt-card-header flex-wrap gap-2">
                                   <h3 class="kt-card-title text-sm">
                                          List User Smartsam
                                   </h3>
                                   <div class="flex flex-wrap gap-2 lg:gap-5">
                                          <div class="flex">
                                                 <label class="kt-input">
                                                        <i class="ki-filled ki-magnifier">
                                                        </i>
                                                        <input data-kt-datatable-search="#team_crew_table"
                                                               placeholder="Search users" type="text" value="" />
                                                 </label>
                                          </div>
                                   </div>
                            </div>
                            <div class="kt-card-content">
                                   <div data-kt-datatable="true" data-kt-datatable-state-save="false"
                                          id="team_crew_table">
                                          <div class="kt-scrollable-x-auto">
                                                 <table class="kt-table table-auto kt-table-border"
                                                        data-kt-datatable-table="true">
                                                        <thead>
                                                               <tr>
                                                                      <th class="w-[60px] text-center">
                                                                             <span class="kt-table-col">
                                                                                    <span class="kt-table-col-label">
                                                                                           No.
                                                                                    </span>
                                                                                    <span class="kt-table-col-sort">
                                                                                    </span>
                                                                             </span>
                                                                      </th>
                                                                      <th class="min-w-[300px]">
                                                                             <span class="kt-table-col">
                                                                                    <span class="kt-table-col-label">
                                                                                           Username / NIP
                                                                                    </span>
                                                                                    <span class="kt-table-col-sort">
                                                                                    </span>
                                                                             </span>
                                                                      </th>
                                                                      <th class="min-w-[180px]">
                                                                             <span class="kt-table-col">
                                                                                    <span class="kt-table-col-label">
                                                                                           Nama
                                                                                    </span>
                                                                                    <span class="kt-table-col-sort">
                                                                                    </span>
                                                                             </span>
                                                                      </th>
                                                                      <th class="min-w-[180px]">
                                                                             <span class="kt-table-col">
                                                                                    <span class="kt-table-col-label">
                                                                                           Email
                                                                                    </span>
                                                                                    <span class="kt-table-col-sort">
                                                                                    </span>
                                                                             </span>
                                                                      </th>
                                                                      <th class="w-[60px]">
                                                                      </th>
                                                               </tr>
                                                        </thead>
                                                        <tbody>
                                                               @each((item, index) in users)
                                                               <tr>
                                                                      <td class="text-center">
                                                                             {{index + 1}}
                                                                      </td>
                                                                      <td class="text-foreground font-normal">
                                                                             {{item.username}}
                                                                      </td>
                                                                      </td>
                                                                      <td class="text-foreground font-normal">
                                                                             {{item.nama}}
                                                                      </td>
                                                                      <td class="text-foreground font-normal">
                                                                             {{item.email}}
                                                                      </td>
                                                                      <td class="text-center">
                                                                             <div class="kt-menu flex-inline"
                                                                                    data-kt-menu="true">
                                                                                    <div class="kt-menu-item"
                                                                                           data-kt-menu-item-offset="0, 10px"
                                                                                           data-kt-menu-item-placement="bottom-end"
                                                                                           data-kt-menu-item-placement-rtl="bottom-start"
                                                                                           data-kt-menu-item-toggle="dropdown"
                                                                                           data-kt-menu-item-trigger="click">
                                                                                           <button
                                                                                                  class="kt-menu-toggle kt-btn kt-btn-sm kt-btn-icon kt-btn-ghost">
                                                                                                  <i
                                                                                                         class="ki-filled ki-dots-vertical text-lg">
                                                                                                  </i>
                                                                                           </button>
                                                                                           <div class="kt-menu-dropdown kt-menu-default w-full max-w-[175px]"
                                                                                                  data-kt-menu-dismiss="true">
                                                                                                  <div
                                                                                                         class="kt-menu-item">
                                                                                                         <a class="kt-menu-link"
                                                                                                                href="#">
                                                                                                                <span
                                                                                                                       class="kt-menu-icon">
                                                                                                                       <i
                                                                                                                              class="ki-filled ki-search-list">
                                                                                                                       </i>
                                                                                                                </span>
                                                                                                                <span
                                                                                                                       class="kt-menu-title">
                                                                                                                       View
                                                                                                                </span>
                                                                                                         </a>
                                                                                                  </div>
                                                                                                  <div
                                                                                                         class="kt-menu-item">
                                                                                                         <a class="kt-menu-link"
                                                                                                                href="#">
                                                                                                                <span
                                                                                                                       class="kt-menu-icon">
                                                                                                                       <i
                                                                                                                              class="ki-filled ki-file-up">
                                                                                                                       </i>
                                                                                                                </span>
                                                                                                                <span
                                                                                                                       class="kt-menu-title">
                                                                                                                       Export
                                                                                                                </span>
                                                                                                         </a>
                                                                                                  </div>
                                                                                                  <div
                                                                                                         class="kt-menu-separator">
                                                                                                  </div>
                                                                                                  <div
                                                                                                         class="kt-menu-item">
                                                                                                         <a class="kt-menu-link"
                                                                                                                href="#">
                                                                                                                <span
                                                                                                                       class="kt-menu-icon">
                                                                                                                       <i
                                                                                                                              class="ki-filled ki-pencil">
                                                                                                                       </i>
                                                                                                                </span>
                                                                                                                <span
                                                                                                                       class="kt-menu-title">
                                                                                                                       Edit
                                                                                                                </span>
                                                                                                         </a>
                                                                                                  </div>
                                                                                                  <div
                                                                                                         class="kt-menu-item">
                                                                                                         <a class="kt-menu-link"
                                                                                                                href="#">
                                                                                                                <span
                                                                                                                       class="kt-menu-icon">
                                                                                                                       <i
                                                                                                                              class="ki-filled ki-copy">
                                                                                                                       </i>
                                                                                                                </span>
                                                                                                                <span
                                                                                                                       class="kt-menu-title">
                                                                                                                       Make
                                                                                                                       a
                                                                                                                       copy
                                                                                                                </span>
                                                                                                         </a>
                                                                                                  </div>
                                                                                                  <div
                                                                                                         class="kt-menu-separator">
                                                                                                  </div>
                                                                                                  <div
                                                                                                         class="kt-menu-item">
                                                                                                         <a class="kt-menu-link"
                                                                                                                href="#">
                                                                                                                <span
                                                                                                                       class="kt-menu-icon">
                                                                                                                       <i
                                                                                                                              class="ki-filled ki-trash">
                                                                                                                       </i>
                                                                                                                </span>
                                                                                                                <span
                                                                                                                       class="kt-menu-title">
                                                                                                                       Remove
                                                                                                                </span>
                                                                                                         </a>
                                                                                                  </div>
                                                                                           </div>
                                                                                    </div>
                                                                             </div>
                                                                      </td>
                                                               </tr>

                                                               @end
                                                        </tbody>
                                                 </table>
                                          </div>
                                          <div
                                                 class="kt-card-footer justify-center md:justify-between flex-col md:flex-row gap-5 text-secondary-foreground text-sm font-medium">
                                                 <div class="flex items-center gap-2 order-2 md:order-1">
                                                        Show
                                                        <select class="kt-select w-16" data-kt-datatable-size="true"
                                                               data-kt-select="" name="perpage">
                                                        </select>
                                                        per page
                                                 </div>
                                                 <div class="flex items-center gap-4 order-1 md:order-2">
                                                        <span data-kt-datatable-info="true">
                                                        </span>
                                                        <div class="kt-datatable-pagination"
                                                               data-kt-datatable-pagination="true">
                                                        </div>
                                                 </div>
                                          </div>
                                   </div>
                            </div>
                     </div>
              </div>
       </div>
       <!-- End of Container -->
</main>
@endslot
@end